.landing {
  height: 100vh;
}

.landing-image {
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.landing-text {
  height: 50vh;
  position: relative;
  padding: 0 10vw;
}

.landing-text-navigation {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.landing-text-navigation-section {
  margin-bottom: 1rem;
  margin-top: 7.5vh;
}

.navigation-section-value {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--lordicon);
}

.landint-title {
  font-size: 7.5rem;
  font-weight: bold;
  text-align: center;
  margin: 5vh;
  position: relative;
}

.landing-sub {
  position: absolute;
  top: 40%;
  left: 49.5%;
  font-size: 2.25rem;
  font-family: var(--kaushan);
  color: var(--lordicon);
  display: none;
}

.navigation-section-value {
  text-align: end;
}

.features {
  height: 100vh;
  overflow: hidden;
  padding: 0 10vw;
  display: grid;
  place-content: center;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.features-grid-item {
  padding: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-image {
  display: grid;
  place-content: center;
}

img.item-image-src {
  height: 60vh;
  border-radius: 2rem;
}

.badge {
  background: var(--lordicon);
  padding: 0.75rem 1.5rem;
  border-radius: 2.5rem;
  font-weight: bold;
  width: max-content;
  margin-bottom: 1rem;
}

.item-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.item-title-sub {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.item-list-value::before {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  background: var(--lordicon);
  position: absolute;
  border-radius: 50%;
  margin-top: 5px;
  left: -1.5rem;
}

.item-list-value {
  margin-left: 1.5rem;
  position: relative;
}

.item-list {
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
}

.prompts-displayer-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.item-prompts {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prompts-displayer-line::before {
  width: 32vw;
  content: "";
  height: 2px;
  background: var(--lordicon);
  position: absolute;
  left: -11vw;
  border-radius: 10rem;
}

.prompts-displayer-line {
  position: relative;
  margin-bottom: 1.5rem;
}

.prompts-displayer-line::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: var(--lordicon);
  border-radius: 50%;
  top: -2rem;
  left: -1.25rem;
}

.item-image-mask {
  background-image: url(../../../assets/images/splash.png);
  height: 65vh;
  width: 15vw;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 2.5rem;
}

.landing-image::after {
  content: "";
}

.landint-title::after {
  content: "";
  position: absolute;
  width: 100%;
  background: var(--white);
  left: 0;
  transition: 1s;
  transform-origin: top;
  animation: show 1.5s ease-in 0 1 normal forwards;
}

@keyframes show {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}

div#about {
  display: flex;
  flex-direction: column;
  padding: 0 10vw;
  margin: 10vw 0 5vw 0;
}

.about-sub {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--lordicon);
  margin-bottom: 1rem;
}

.about-title {
  font-size: 2.5rem;
  width: 55%;
}

.section {
  padding: 0 187.9px;
  margin: 5vw 0;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  justify-content: space-between;
}

.section-left-title {
  font-size: 3.5rem;
  font-weight: bold;
  width: 65%;
  margin-bottom: 1rem;
}

.section-left-text {
  width: 70%;
  font-size: 1.25em;
  line-height: 2;
}

.section-right img {
  height: 50vh;
}

footer.footer {
  padding: 5vw 10vw;
  background: #0b0b0b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container {
  display: flex;
  flex-flow: row;
  gap: 5rem;
  flex-wrap: wrap;
}

.footer-container-setion {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}

.footer-container-section-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #f0f0f0;
}

a.footer-container-section-route {
  color: var(--lordicon);
  font-weight: bold;
}

a.footer-container-section-route:hover {
  text-decoration: none;
  transition: 1s;
  opacity: 0.75;
}

img.footer-icon-img {
  height: 20vh;
}

.icons {
  display: flex;
  flex-flow: row;
  gap: 1rem;
}

.icons a {
  color: var(--white);
  font-size: 1.25rem;
}
