<div class="create">
    <div class="create-container">
        <div class="container-options">
            <img src="https://i.ibb.co/r4Jk67T/logo-light.png" alt="logo-light" class="container-option-logo">
            <div class="container-title">Create Account</div>
            <a [href]="option.url" class="container-options-button" *ngFor="let option of authOptions">
                <div class="container-options-button-icon">
                    <i [ngClass]="option.icon"></i>
                </div>
                <div class="container-options-button-text">
                    Continue with {{ option.name }}
                </div>
            </a>
            <div class="container-options-form">
                <div class="form-inputs">
                    <input type="text" name="username" class="form-inputs-textinput">
                    <label for="username" class="form-inputs-label">Username</label>
                </div>
                <div class="form-inputs">
                    <input type="text" name="email" class="form-inputs-textinput">
                    <label for="email" class="form-inputs-label">Email</label>
                </div>
                <div class="form-inputs">
                    <input type="text" name="password" class="form-inputs-textinput">
                    <label for="password" class="form-inputs-label">Password</label>
                </div>
                <a href="#" class="form-button">
                    Create Account
                </a>
            </div>
        </div>
    </div>
</div>