.navigation {
  padding: 2.5vh 10vw;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  z-index: 99;
  display: grid;
  place-content: center;
}

img.navigation-container-icon {
  height: 7.5vh;
}

.navigation-container {
  display: flex;
  flex-direction: row;
  gap: 2.5vw;
  align-items: center;
}

.navigation-container-links {
  display: flex;
    gap: 1rem;
    background: #2fffc1d7;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    border: 2.5px solid transparent;
}

.navigation-container-links-route {
  cursor: pointer;
  color: #0b0b0b;
  margin: 0 0.5rem;
  text-decoration: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 1rem;

  &:hover {
    opacity: 0.5;
  }
}
