<div class="navigation">
    <div class="navigation-container">
        
        <div class="navigation-container-links">
        <a class="navigation-container-links-route" routerLink="/" routerLinkActive="routerlinkactive"> <i class="bi bi-house-fill"></i> Home</a>
        <a class="navigation-container-links-route" routerLink="about" routerLinkActive="routerlinkactive"> <i class="bi bi-building"></i>About</a>
        <a class="navigation-container-links-route" routerLink="features" routerLinkActive="routerlinkactive"> <i class="bi bi-graph-up"></i>Features</a>
        <a class="navigation-container-links-route" routerLink="help" routerLinkActive="routerlinkactive"> <i class="bi bi-info-circle-fill"></i>Help</a>
        </div>
    </div>
</div>